:root {
  --text-header: #45BDAA;
  --bg-primary: #dcf7e4;
  --text-body: #6c72ab;
  --link-gray: #aaa;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../assets/fonts/FuturaPTMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../assets/fonts/ProximaNova.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../assets/fonts/ProximaNovaBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../assets/fonts/ProximaNovaExtrabold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'FuturaPT', sans-serif;
    color: var(--text-body);
    margin: 0;
}

h1, h2 {
    font-family: 'ProximaNova', sans-serif;
    color: var(--text-header);
}

.blue {
    color: var(--text-body);
}

.nav {
    width: 100%;
    padding: 2em 0;
}

.nav a {
    padding: 0 1.5vw;
    text-decoration: none;
    color: var(--link-gray);
}

.nav a:first-of-type {
    padding-left: 0;
}

.nav a:hover {
    color: var(--text-header);
    transition: 0.1s all;
}

.grid.header {
    margin-top: 15%;
    font-size: 1.5em;
}

.button {
    border: solid var(--text-header) 2px;
    padding: 0.25em 2em;
    position: relative;
    text-decoration: none;
    color: var(--text-header);
    background-color: none;
    overflow: hidden;
    display: inline-block;
    transition: 0.5s all;
}

.button::before {
    content: "";
    background-color: var(--text-header);
    width: 200%;
    height: 200%;
    /*left: 100%;*/
    left: 0;
    top: 0;
    position: absolute;
    transition: 0.75s all;
    transform: translateX(-100%) rotate(90deg);
}

.button:hover::before {
    left: 0;
    z-index: -1;
    transform: rotate(0deg);
}

.button:hover {
    color: white;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    text-align: right;
    float: right;
    vertical-align: top;
}

.svg-div {
    height: 100%;
}

#about > .grid {
    margin-bottom: 4em;
}


table {
    width: 100%;
    position: relative;
    left: -2px;
}

td {
    padding: 0.5em 0;
}

#faq > div h2:not(:first-of-type) {
    margin-top: 2.5em;
}

.green {
    background-color: var(--bg-primary);
    padding-bottom: 1em;
}

.footer {
    text-align: center;
}